@using PTPSite.Services
@model DiscussionViewModel
@inject SignInManager<ApplicationUser> Manager
@{
	ViewData["Title"] = "DISCUSSION";
}

<h2>@ViewData["Title"]</h2>
<br />
@{
	if (Manager.IsSignedIn(User))
	{
		<form id="createForm" asp-area="" asp-controller="Comment" asp-action="Create" method="post">
			<hr />
			<div asp-validation-summary="All" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Text" style="font-size:20px;">Text</label>
				<textarea asp-for="Text" class="form-control" rows="4"></textarea>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Add comment</button>
			</div>
		</form>
		<form id="editForm" asp-area="" asp-controller="Comment" asp-action="Edit" method="post" style="display: none;">
			<input id="editId" name="id" style="display: none;" />
			<hr />
			<div asp-validation-summary="All" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="TextEdit" style="font-size:20px;">Text</label>
				<textarea asp-for="TextEdit" name="text" class="form-control" rows="4"></textarea>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Edit comment</button>
				<button id="editCancel" type="button" class="btn btn-primary">Cancel</button>
			</div>
		</form>
	}
	else
	{
		<div class="alert alert-info" role="alert">
			Please <a style="font-weight: bold; color: #2b3e50; text-decoration:underline;" asp-area="" asp-controller="Account" asp-action="Login">login</a> if you want to add/remove/edit comments.
		</div>
	}
}
<div class="comments">
	@{
		foreach (CommentViewModel viewModel in Model.Comments)
		{
			<hr />
			<div class="row row-comment">
				<div class="col-md-2">
					<span>@viewModel.ByUserName</span>
					<br />
					<span>@viewModel.Date</span>
				</div>
				<div class="col-md-6">
					@viewModel.Text
				</div>
				<div class="col-md-2 col-md-offset-2" style="text-align: right;">
					@if (viewModel.CanEdit)
					{
						<a id="editLink" href="javascript: void(0)" data-id="@viewModel.Id" data-text="@viewModel.Text">Edit</a>
					}
					@if (viewModel.CanRemove)
					{
						<form asp-area="" asp-controller="Comment" asp-action="Remove" method="post" style="display: inline-block;">
							<input name="id" value="@viewModel.Id" style="display:none;" />
							<button type="submit" class="btn-link">Remove</button>
						</form>
					}
				</div>
			</div>
		}
	}
</div>
<script>
	$(function () {
		var editForm = $("#editForm");
		var createForm = $("#createForm");
		var editCancel = $("#editCancel");

		$("#editLink").on("click", function () {
			createForm.hide();
			editForm.show();

			var id = $(this).data("id");
			var text = $(this).data("text");

			editForm.find("#editId").val(id);
			editForm.find("#TextEdit").val(text);
		});

		editCancel.on("click", function () {
			editForm.hide();
			createForm.show();
		});
	});
</script>